<div class="panel panel-primary center-v">
    <div class="panel-heading text-center">
        <h2>{{ person?.first_name + " " + person?.last_name }}</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Email: {{ person?.email }}</p>
            </div>
            <hr>
            <div class="col-xs-12">
                <p>{{ "Currently in: " + person?.courses.length + " courses"}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Courses:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let course of person?.courses">
                        {{ course.name }} - {{ course.level.name }} - {{ course.language.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="colg-xs-12">
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Person
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" (click)="onEditPerson()">Edit Person</a></li>
                    <li><a style="cursor: pointer;" (click)="onDeletePerson()">Delete Person</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>